* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.9); /* Transparan dikit */
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

/* --- WORKSPACES --- */
#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 10px;
    margin: 2px 5px;
}

/* Kalau di-hover mouse */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    text-shadow: inherit;
}

/* Workspace AKTIF (Tempat kamu berada) */
#workspaces button.active {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}

/* Workspace ada isinya tapi gak aktif */
#workspaces button.visible {
    background-color: #4c4c4c;
}

/* --- MODUL LAIN --- */
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
    background-color: #3f3f3f; /* Warna kotak modul */
    border-radius: 10px;
    margin: 4px 2px;
}

#clock {
    background-color: #64727D;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
